hr {
  width: 100%;
  height: 2px;
  color: var(--lightGray);
}

.generator_title {
  width: 100%;
  display: flex;
  justify-content: center;
}


.result.dark-mode .generator_title {
  color: var(--DMtextColorWhite);
}

.generator_btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.selectors {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}

.generatorBtn button {
  font-size: 1.8rem;
  padding: 1rem 30px;
}

#chip-label {
  font-size: 1.2rem !important;
  font-family: var(--secondaryFontReg);
  font-weight: bold;
  user-select: none !important;
}

.card_groups {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 5rem;
}

.card_group {
  padding: 6px;
  border: 1px solid var(--accentColor);
  border-radius: 10px;
}

.gen_category_title {
  font-family: var(--secondaryFontReg);
  margin: 0 0 10px 0.5rem;
  transition: color 0.5s ease;
  user-select: none;
}

.gen_cards {
  margin: 0;
}

.gen_quote_card {
  width: 100%;
}

.selectors {
  width: 100%;
  gap: 0.5rem;
}

.chip_text {
  color: #fff;
}

.chip_selector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 4px 0 !important;
}

#chipselector {
  width: 100%;
  min-height: 32px;
  max-height: 75px;
  overflow-y: auto;
}

.generator .q_card_top p {
  padding: 10px 50px 10px 10px;
  font-size: 1.3rem;
  text-align: left;
  font-family: var(--secondaryFont);
  font-weight: 600;
  -webkit-user-select: none;
  user-select: none;
  transition: color 0.5s ease;
}

/* ~ Dark mode */
.result.dark-mode .gen_category_title {
  color: var(--DMtextColorWhite);
}

.result.dark-mode #chip-label {
  color: var(--DMtextColorWhite);
}

.dark-mode .generator .q_card_top p {
  color: var(--textColorWhite);
}

@media screen and (max-width: 850px) {
  .selectors {
    flex-direction: column;
    justify-content: space-between;
    gap: 0.2rem;
  }

  .generatorBtn button {
    font-size: 1.7rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 500px) {
  #chip-label {
    font-size: 1.2rem;
  }

  #chipselector {
    min-height: auto;
  }

  .selectors {
    gap: 0.1rem;
  }
}