/* chip selector opened  */
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 1.1rem !important;
  padding: 0.5rem 0 0.5rem 1rem !important;
  border: 1px solid var(--accentColor) !important;
  white-space: break-spaces !important;
  font-family: var(--secondaryFontReg) !important;
}

/* chip selector opened option outer div */
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  max-height: 300px !important;
}

/* chip selector opened selected options div option hover */
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  /* background-color: #3A889145 !important; */
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: #3A889145 !important;
}

/* chip selector outside input element */
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 13px !important;
}

/* ~ Dark mode */
.dark-mode .css-w66kx-MuiChip-root {
  color: var(--textColorWhite) !important;
  transition: 0.5s;
}

.dark-mode .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: #000 !important;
  transition: 0.5s;
  color: white !important;
}

.dark-mode .dark-mode-selector {
  background-color: #000 !important;
  /* Change to the desired background color */
  color: white !important;
  /* Change to the desired text color */
}


/*  */

@media screen and (max-width: 1200px) {

  /* chips selected */
  .css-w66kx-MuiChip-root {
    font-size: 1.2rem !important;
  }

}

@media screen and (max-width: 500px) {

  /* chips selected */
  .css-w66kx-MuiChip-root {
    font-size: 0.9rem !important;
  }

  /* chip selector opened  */
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    font-size: 1.1rem !important;
    padding: 0.5rem 0 0.5rem 1rem !important;
  }

  /* chip selector opened option outer div */
  .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    max-height: 275px !important;
  }
}