.search_div {
  position: relative;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3px 0 0;
}

.search_icon {
  position: absolute;
  top: 0.8rem;
  left: 1rem;
  color: lightgray;
  font-size: 1.5rem;
  z-index: 1;
}

.search_icon.focused {
  transition: 0.2s;
  color: var(--accentColor2);
}

.search_bar {
  height: 3rem;
  padding: 0 1rem 0 3.5rem;
  border: none;
  border-radius: 1rem;
  font-family: var(--secondaryFont);
  color: var(--textColorBlack);
  background-color: var(--bgLighter);
  transition: background-color 0.5s ease;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.search_bar:hover {
  transition: 0.2s;
  outline: 3px solid var(--accentColor);
}

.search_bar:focus {
  transition: 0.2s;
  outline: 2px solid var(--accentColor2);
  box-shadow: 8px 6px 0px -1px var(--accentColor2);
  -webkit-box-shadow: 8px 6px 8px 0px var(--accentColor2);
  -moz-box-shadow: 8px 6px 0px -1px var(--accentColor2);
}

.search_bar::placeholder {
  font-family: var(--secondaryFont);
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.search_button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 1rem;
  color: #000;
  font-family: var(--secondaryFontReg);
  border: none;
  background-color: var(--accentColor2);
  border-radius: 1rem;
}

/* ~ Dark mode */
.result.dark-mode .search_bar {
  color: var(--DMtextColorWhite);
  background-color: var(--DMbgLight);
}

.result.dark-mode .search_bar::placeholder {
  color: var(--textColorWhite);
}

@media screen and (max-width: 1200px) {
  .search_bar {
    height: 3.8rem;
    padding: 0 0 0 3.5rem;
    font-size: 1.7rem;
  }

  .search_bar::placeholder {
    font-size: 1.7rem;
  }

  .search_icon {
    position: absolute;
    top: 1.1rem;
    left: 1rem;
    color: lightgray;
    font-size: 1.8rem;
    z-index: 1;
  }
}

@media screen and (max-width: 750px) {
}

@media screen and (max-width: 500px) {
  .search_bar {
    height: 3rem;
    padding: 0 0 0 2.8rem;
  }

  .search_bar::placeholder {
    font-size: 1.3rem;
  }

  .search_icon {
    top: 0.8rem;
    left: 0.8rem;
    font-size: 1.5rem;
  }
}