.share_n_author {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.share_fb {
  width: 13rem;
}

.share_fb button {
  font-family: var(--secondaryFont);
  border: 2px solid #4267B2;
  border-radius: 10px;
  padding: 6px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bgLight);
}

.share_fb button:hover {
  border: 2px dashed #4267B2;
  background-color: var(--bgLight);
}

.share_fb button:active {
  color: #FFF;
  background-color: #4267B2;
}

.share_fb button:active .fb_icon {
  color: #FFF;
}

.dark-mode .share_fb button {
  border: 2px solid #4267B2;
  color: var(--textColorWhite);
  background-color: var(--DMbgLight);
}

.dark-mode .share_fb button:hover {
  border: 2px dashed #4267B2;
  background-color: var(--DMbgLight);
  color: var(--textColorWhite);
}

.dark-mode .share_fb button:active {
  color: #FFF;
  background-color: #4267B2;
}