.generatorBtn {
  border: 0px;
  font-family: var(--secondaryFont), sans-serif;
}

.generatorBtn:active {
  border: none;
}

.generatorBtn button {
  padding: 20px 30px;
  font-size: 1.8rem;
  font-family: var(--sidebarFontBold);
  color: var(--textColorWhite);
  background-color: var(--accentColor);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: 3px solid var(--accentColor);
  transition: outline-offset .25s;
  user-select: none;
}

.generatorBtn button:hover {
  transition: 0.4s;
  background-color: var(--accentColor2);
  color: var(--textColorBlack);
  outline-offset: 3px;
  outline: 3px solid var(--accentColor2);
}

.generatorBtn button:active {
  background-color: aliceblue;
}

.MP_textNcopy {
  width: -webkit-fill-available;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
}

.quote,
.author {
  transition: background-color 0.5s ease;
}

.quote {
  width: -webkit-fill-available;
  min-width: 50vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem;
  background-color: var(--bgLighter);
  border-radius: 10px;
}

.fa-quote-left {
  -webkit-width: 2rem;
  -moz-width: 2rem;
  width: 2rem;
  display: flex;
  align-items: flex-start;
  font-size: 2.5rem;
  color: var(--accentColor);
}

.quote h3 {
  width: 97%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 1rem 1rem 1rem 0;
  line-height: 4.2rem;
  text-align: right;
  font-size: 1.7rem;
  color: var(--textColorBlack);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.generatedQuote {
  height: 70%;
  letter-spacing: 1px;
  font-family: var(--mainFont);
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 37%;
  height: auto;
  min-height: 65px;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 20px;
  background-color: var(--bgLighter);
}

.fa-pen-nib {
  font-size: 30px;
  left: 0;
  color: var(--accentColor);
}

.author h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
  width: 90%;
  padding: 0;
  font-size: 1.4rem;
  color: var(--textColorBlack);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.generatedAuthor {
  font-size: 1.7rem;
  height: 70%;
  margin: 0;
  letter-spacing: 1px;
  font-family: var(--mainFont);
}

/* ~ Dark mode */
.result.dark-mode .quote,
.result.dark-mode .author {
  background-color: var(--DMbgLight);
  transition: background-color 0.5s ease;
}

.result.dark-mode .quote h3,
.result.dark-mode .author h3 {
  color: var(--DMtextColorWhite);
}

.result.dark-mode .fa-quote-left,
.result.dark-mode .fa-pen-nib {
  color: var(--accentColor2);
}

@media screen and (max-width: 1200px) {
  .quote {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding: 0;
  }

  .MP_textNcopy {
    padding: 1rem;
    width: -moz-available;
  }

  .fa-quote-left {
    position: absolute;
    left: 1rem;
    bottom: 0.5rem;
    font-size: 48px;
    -webkit-width: 3rem;
    -moz-width: 3rem;
    width: 3rem;
  }

  .quote h3 {
    width: 100%;
    min-width: 100%;
    font-size: 2rem;
    padding: 1rem 0.5rem;
    margin: 0 0 1rem;
    line-height: 5rem;
    text-align: right;
  }

  .author {
    width: fit-content;
    position: relative;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem 0.5rem 6rem;
    align-items: flex-end;
  }

  .fa-pen-nib {
    position: absolute;
    width: 20%;
    font-size: 42px;
    margin: 1rem 0;
    left: 0.3rem;
  }

  .author h3 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 1.8rem;
  }

  .generatorBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .generatorBtn button {
    width: 100%;
    background-color: var(--accentColor);
  }

  .generatorBtn button:hover {
    background-color: var(--accentColor);
    color: var(--textColorWhite);
    outline-offset: 3px;
    outline: 3px solid var(--accentColor);
  }

  .generatorBtn button:active {
    color: var(--textColorWhite);
    background-color: var(--accentColor2);
    outline: 3px solid var(--accentColor2);
    transition: 0.1s;
  }
}

@media screen and (max-width: 500px) {
  .fa-quote-left {
    left: 0.5rem;
    bottom: 0.5rem;
    font-size: 36px;
  }

  .quote h3 {
    font-size: 1.4rem;
    padding: 0;
    line-height: 3.7rem;
    word-break: break-word;
  }

  .author {
    padding: 0.5rem 1rem 0.5rem 6rem;
  }

  .fa-pen-nib {
    font-size: 32px;
  }

  .author h3 {
    font-size: 1.3rem;
  }

  .copy-text {
    display: none;
  }
}