.about_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  letter-spacing: 1px;
  padding: 50px;
  font-family: var(--secondaryFont), sans-serif;
  text-align: center;
}

.result.dark-mode .about_us {
  color: var(--textColorWhite);
}

.dark-mode .about_us a {
  color: var(--accentColor);
  text-decoration: underline;
  text-decoration-color: var(--accentColor2);
}

@media screen and (max-width: 500px) {
  .about_us {
    font-size: 0.8rem;
  }
}