@font-face {
  font-family: 'Batonishvili';
  src: url(./assets/fonts/DM-Batonishvili.ttf);
}

@font-face {
  font-family: 'BPG_ucnobi';
  src: url(./assets/fonts/bpg-ucnobi-webfont.ttf);
}

:root {
  --white: #fff;
  --black: #252525;
  --lightGray: #F1F0F0;
  --darkGray: #D9D9D9;
  --sidebarColor: #F1F0F0;
  --accentColor: #3A8891;
  --resultColor: #D9D9D9;
  --goldColor: #ebb400;
  --mainFont: "Batonishvili", sans-serif;
  --secondaryFont: "BPG_ucnobi", sans-serif;
  --test: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--mainFont);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0em;
  margin-block-end: 0em
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #16b8f3;
  height: 10vh;
}

ul {
  padding: 0;
}

.App {
  display: flex;
}

/* ~ Sidebar  */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--accentColor);
  background-color: var(--sidebarColor);
}

.sidebar_title {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_title a {
  text-decoration: none;
  color: var(--accentColor);
}

.sidebar_title h1 {
  font-size: 2.5rem;
  font-family: var(--sidebarFontBold);
  text-align: center;
}

.sidebar_content {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  font-family: 'BPG_ucnobi', sans-serif;
  font-weight: 100;
}

.sidebar_content ul {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar_content ul li {
  width: 100%;
  font-size: 1.7rem;
  list-style: none;
}

.sidebar-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: var(--accentColor);
  padding: 20px 10px;
  font-size: 28px;
  transition: all 0.5s;
  cursor: pointer;
  user-select: none;
}

.sidebar-links span {
  width: 25%;
  cursor: pointer;
}


.sidebar-links p {
  width: 70%;
}

.sidebar-links:hover {
  transition: 0.4s;
  color: var(--goldColor);
  border-radius: 10px;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25), 0 0.25rem 0.25rem rgba(58, 136, 145, 0.2);
}

.sidebar-texts {
  display: flex;
  letter-spacing: 1px;
  font-weight: 600;
}

.material-symbols-outlined {
  font-size: 2rem;
}

/* sidebar */

/* ~ result */
.dev-info {
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bolder;
}

.result {
  width: 80%;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20%;
  box-sizing: border-box;
  gap: 60px;
  background-color: var(--resultColor);
}

.result_wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  margin: 20px 0 50px;
}

/* result */

/* ~ button */
.generatorBtn {
  border: 0px;
  font-family: 'BPG_ucnobi', sans-serif;
}

.generatorBtn:active {
  border: none;
}

.generatorBtn button {
  padding: 20px 30px;
  font-size: 2.5rem;
  font-family: var(--sidebarFontBold);
  color: var(--white);
  background-color: var(--accentColor);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: 3px solid var(--accentColor);
  transition: outline-offset .25s;
}

.generatorBtn button:hover {
  transition: 0.4s;
  background-color: var(--goldColor);
  color: var(--black);
  outline-offset: 3px;
  outline: 3px solid var(--goldColor);
}

/* ~ quote */
.quote {
  width: -webkit-fill-available;
  min-width: 50vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem;
  background-color: var(--lightGray);
  border-radius: 20px;
}

.MP_textNcopy {
  width: -webkit-fill-available;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
}

.fa-quote-left {
  min-width: 5%;
  display: flex;
  align-items: flex-start;
  font-size: 3rem;
  color: var(--accentColor);
}

.copy-btn {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  padding: 8px 10px;
  margin: 3rem 1rem 0 0;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--secondaryFont);
  color: var(--accentColor);
  background-color: #ffffff00;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: 3px solid var(--accentColor);
  transition: outline-offset .25s;
}

.copy-btn:hover {
  color: var(--goldColor);
  outline-offset: 3px;
  outline: 3px solid var(--goldColor);
  box-shadow: 8px 6px 0px -1px #feedb4;
  -webkit-box-shadow: 8px 6px 8px 0px #feedb4;
  -moz-box-shadow: 8px 6px 0px -1px #feedb4;
  transition: 0.3s;
}

.fa-copy {
  font-size: 1.6rem;
  cursor: pointer;
}

.quote h3 {
  width: 90%;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 1rem 1rem 1rem 0;
  line-height: 4.2rem;
  text-align: right;
  font-size: 1.7rem;
}

.generatedQuote {
  height: 70%;
  letter-spacing: 1px;
}

/* quote */

/* ~ author */
.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 37%;
  height: auto;
  min-height: 10%;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 20px;
  background-color: #f0f0f070;
}

.fa-pen-nib {
  font-size: 40px;
  left: 0;
  color: var(--accentColor);
}

.author h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
  width: 90%;
  padding: 0;
  font-size: 1.4rem;
}

.generatedAuthor {
  font-size: 1.7rem;
  height: 70%;
  margin: 0;
  letter-spacing: 1px;
}

/* author */

.copy-message {
  position: fixed;
  bottom: 20px;
  left: 60%;
  transform: translateX(-50%);
  padding: 0 20px;
  background-color: var(--accentColor);
  color: var(--white);
  outline: 3px solid var(--accentColor);
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--secondaryFont);
  border-radius: 5px;
  opacity: 0.95;
  z-index: 9999;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-name: fadeOut;
}

.copy-message p {
  margin: 0;
  padding: 0;
  line-height: 4rem;
}

.copy-text {
  user-select: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* ~ filter by authors */
.FBA_result {
  gap: 10px;
}

.FBA {
  width: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 50px;
  border-radius: 20px;
  padding: 10px 20px;
}

.FBA_section {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding: 1rem;
  background-color: var(--lightGray);
  border-radius: 1rem;
  transition: box-shadow 0.5s ease;
}

.FBA_section:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 8px 6px 0px -1px var(--accentColor);
  -webkit-box-shadow: 8px 6px 8px 0px var(--accentColor);
  -moz-box-shadow: 8px 6px 0px -1px var(--accentColor);
}

.FBA_section h2 {
  width: 5%;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  padding: 0 0 0 20px;
}

.FBA_buttons {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.FBA_buttons button {
  transition: background-color 1.5s ease;
  font-family: var(--secondaryFont);
  font-size: 2rem;
  font-weight: bolder;
  padding: 10px 16px;
  border-radius: 10px;
  outline: 3px solid var(--accentColor);
  border: none;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 1px;
  transition: box-shadow 0.5s ease-in-out;
  transition: background-color 0.5s ease-out;
  transition: outline-offset .25s;
}

.FBA_buttons button:hover {
  background-color: #feedb4;
  outline-offset: 2px;
  outline: 3px solid var(--goldColor);
  box-shadow: 8px 6px 0px -1px #feedb4;
  -webkit-box-shadow: 8px 6px 8px 0px #feedb4;
  -moz-box-shadow: 8px 6px 0px -1px #feedb4;
}

.FBA_quotes {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto 60px;
  gap: 20px;
}

.FBA_quotes h1 {
  line-height: 4rem;
}

.FBA_quotes span {
  font-size: 4rem;
  font-weight: 100;
}

.FBA_filtered {
  gap: 20px;
}

.backButton {
  width: 30%;
  height: 40px;
  margin: 1rem auto 0;
  font-size: 1.2rem;
  border-radius: 50px;
  border: none;
  transition: box-shadow 0.5s ease;
  transition: background-color 0.5s ease;
}

.FBA_filtered button:hover {
  color: var(--white);
  background-color: var(--goldColor);
  transition: 0.3s ease-in-out;
  box-shadow: 8px 6px 0px -1px #feedb4;
  -webkit-box-shadow: 8px 6px 8px 0px #feedb4;
  -moz-box-shadow: 8px 6px 0px -1px #feedb4;
  transition: 0.3s ease-in-out;
}

.FBA_filtered_quotes {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 60px;
  gap: 20px;
}

.filtered_authorName {
  line-height: 3.5rem;
  letter-spacing: 1px;
  padding: 2rem 1.5rem;
}

.filtered_quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 1rem 1.5rem;
  text-align: left;
  line-height: 4.2rem;
  letter-spacing: 1px;
  background-color: var(--lightGray);
  border-radius: 10px;
  transition: box-shadow 0.5s ease;
}

.filtered_quote :nth-child(2) {
  margin: 0 0 0 auto;
}

.filtered_quote:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 8px 6px 0px -1px var(--accentColor);
  -webkit-box-shadow: 8px 6px 8px 0px var(--accentColor);
  -moz-box-shadow: 8px 6px 0px -1px var(--accentColor);
}

.filtered_quote h2 {
  font-size: 1.7rem;
  box-shadow: none;
}

/* ~ scrollbar */
body::-webkit-scrollbar-track,
.FBA::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar,
.FBA::-webkit-scrollbar {
  width: 15px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb,
.FBA::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--accentColor);
}

/* filter by authors */

/* ~ about us */
.about_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  letter-spacing: 1px;
  padding: 60px;
  font-family: 'BPG_ucnobi', sans-serif;
}

/* about us */

/* ~ sources */
.sources {
  width: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 50px;
  border-radius: 20px;
  padding: 10px 20px;
}

.sources_section {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding: 1rem;
  background-color: var(--lightGray);
  border-radius: 1rem;
  transition: box-shadow 0.5s ease;
}

.sources_section h2 {
  width: 5%;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  padding: 0 0 0 20px;
}

.sources_section:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 8px 6px 0px -1px var(--accentColor);
  -webkit-box-shadow: 8px 6px 8px 0px var(--accentColor);
  -moz-box-shadow: 8px 6px 0px -1px var(--accentColor);
}

.sources_section h2 {
  width: 5%;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  padding: 0 0 0 20px;
}

.sources_buttons {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.sources_buttons p {
  display: flex;
  align-items: center;
  transition: background-color 1.5s ease;
  font-family: var(--secondaryFont);
  font-size: 2rem;
  font-weight: bolder;
  padding: 10px 16px;
  border-radius: 10px;
  outline: 3px solid var(--accentColor);
  border: none;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 1px;
  transition: box-shadow 0.5s ease-in-out;
  transition: background-color 0.5s ease-out;
  transition: outline-offset .25s;
}

.sources_buttons p:hover {
  background-color: #feedb4;
  outline-offset: 2px;
  outline: 3px solid var(--goldColor);
  box-shadow: 8px 6px 0px -1px #feedb4;
  -webkit-box-shadow: 8px 6px 8px 0px #feedb4;
  -moz-box-shadow: 8px 6px 0px -1px #feedb4;
}

/* sources */

/* ~ filter */
.filter_buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.filter_buttons button {
  width: 200px;
  padding: 0 30px;
  font-size: 1.7rem;
  font-family: var(--sidebarFontBold);
  color: var(--white);
  background-color: var(--accentColor);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: 3px solid var(--accentColor);
  transition: outline-offset .25s;
}

.filter_buttons button:hover {
  transition: 0.4s;
  background-color: var(--goldColor);
  color: var(--black);
  outline-offset: 3px;
  outline: 3px solid var(--goldColor);
}

.filter_result {
  width: 100%;
}

/* ~ Author-Filter */
.author_filter {
  width: 100%;
  gap: 10px;
}

/*
.AF_container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 50px;
  border-radius: 20px;
  padding: 10px 20px;
}

.AF_section {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding: 1rem;
  background-color: var(--lightGray);
  border-radius: 1rem;
  transition: box-shadow 0.5s ease;
}

.AF_section:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 8px 6px 0px -1px var(--accentColor);
  -webkit-box-shadow: 8px 6px 8px 0px var(--accentColor);
  -moz-box-shadow: 8px 6px 0px -1px var(--accentColor);
}

.AF_section h2 {
  width: 5%;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  padding: 0 0 0 20px;
}

.AF_buttons {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.AF_buttons button {
  transition: background-color 1.5s ease;
  font-family: var(--secondaryFont);
  font-size: 2rem;
  font-weight: bolder;
  padding: 10px 16px;
  border-radius: 10px;
  outline: 3px solid var(--accentColor);
  border: none;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 1px;
  transition: box-shadow 0.5s ease-in-out;
  transition: background-color 0.5s ease-out;
  transition: outline-offset .25s;
} */

/* author-filter */

/* ~ Topic-Filter */
.topic_filter {
  width: 100%;
  gap: 10px;
}

/*
.TF_container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 50px;
  border-radius: 20px;
  padding: 10px 20px;
}

.TF_section {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding: 1rem;
  background-color: var(--lightGray);
  border-radius: 1rem;
  transition: box-shadow 0.5s ease;
}

.TF_section:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 8px 6px 0px -1px var(--accentColor);
  -webkit-box-shadow: 8px 6px 8px 0px var(--accentColor);
  -moz-box-shadow: 8px 6px 0px -1px var(--accentColor);
}

.TF_section h2 {
  width: 5%;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  padding: 0 0 0 20px;
}

.TF_buttons {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.TF_buttons button {
  transition: background-color 1.5s ease;
  font-family: var(--secondaryFont);
  font-size: 2rem;
  font-weight: bolder;
  padding: 10px 16px;
  border-radius: 10px;
  outline: 3px solid var(--accentColor);
  border: none;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 1px;
  transition: box-shadow 0.5s ease-in-out;
  transition: background-color 0.5s ease-out;
  transition: outline-offset .25s;
} */

/* topic-filter */




/* ~ filter div cards  */
/* .filter_wrapper {
  width: 100%;
  gap: 10px;
} */

.filter_container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 50px;
  border-radius: 20px;
  padding: 10px 20px;
}

.filt_cont_div {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding: 1rem;
  background-color: var(--lightGray);
  border-radius: 1rem;
  transition: box-shadow 0.5s ease;
}

.filt_cont_div:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 8px 6px 0px -1px var(--accentColor);
  -webkit-box-shadow: 8px 6px 8px 0px var(--accentColor);
  -moz-box-shadow: 8px 6px 0px -1px var(--accentColor);
}

.filt_cont_div h2 {
  width: 5%;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  padding: 0 0 0 20px;
}

.filt_cont_btn {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.filt_cont_btn button {
  transition: background-color 1.5s ease;
  font-family: var(--secondaryFont);
  font-size: 2rem;
  font-weight: bolder;
  padding: 10px 16px;
  border-radius: 10px;
  outline: 3px solid var(--accentColor);
  border: none;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 1px;
  transition: box-shadow 0.5s ease-in-out;
  transition: background-color 0.5s ease-out;
  transition: outline-offset .25s;
}

.filter_placeholder {
  font-family: var(--secondaryFont);
}
/* topic-filter */

/* filter */

/*









*/


/* ! BOTTOM CSS */
/* ~ --------------------- */
/* ~ --------------------- */
/* ~ --------------------- */
/* ~ --------------------- */
/* ~ --------------------- */
/* ~ Dark mode */

/* .darkmode-toggle {
  z-index: 1000;
  background: #1a13ee;
  width: 3rem;
  height: 3rem;
  position: fixed;
  border-radius: 50%;
  border: none;
  right: 95% !important;
  bottom: 32px;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkmode-layer--button {
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 50%;
  right: 95% !important;
  bottom: 32px;
  left: unset;
} */

/* darkmode */

/* media queries */
@media screen and (max-width: 1024px) {
  .main-content {
    flex-direction: row;
  }

  .generatorBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .generatorBtn button {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    height: 15vh;
    min-height: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
  }

  .sidebar_title {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar_title h1 {
    font-size: 1.6rem;
  }

  .sidebar_content {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }

  .sidebar_content ul {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }

  .sidebar_content ul li {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar-links {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .sidebar-links:hover {
    width: 100%;

  }

  .sidebar-links span {
    width: auto;
  }

  .sidebar-texts {
    display: none;
  }

  .result {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0;
    margin-top: 15vh;
    box-sizing: border-box;
    gap: 60px;
    background-color: var(--resultColor);
  }

  .fa-quote-left {
    font-size: 2.5rem;
  }

  .quote h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
    line-height: 4.4rem;
  }

  .author {
    width: 70%;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
  }

  .fa-pen-nib {
    width: 20%;
    font-size: 32px;
    margin: 1rem 0.5rem;
    left: 0;
  }

  .author h3 {
    width: 80%;
    font-size: 1.5rem;
  }

  /* ~ copy btn */
  .copy-btn {
    width: 25%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .copy-text {
    display: none;
  }

  .copy-message {
    bottom: 50px;
    left: 50%;
    width: max-content;
    padding: 0 20px;
    font-size: 1.8rem;
  }

  .copy-message p {
    line-height: 3rem;
  }

  /* copy btn */

  /* ~ FBA */
  .FBA_result {
    gap: 10px;
  }

  .FBA_result h1,
  .FBA_quotes h1 {
    font-size: 2rem;
    padding: 10px 0 0 0;
  }

  .FBA {
    width: 90%;
    gap: 10px;
  }

  .FBA_section {
    padding: 0.5rem 1rem;

  }

  .FBA_buttons button {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: left;
    padding: 6px 10px;
  }

  .FBA_quotes h2 {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    line-height: 3.5rem;
  }

  .FBA_section h2 {
    width: 10%;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .FBA_buttons {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10px;
  }

  .FBA_filtered {
    gap: 10px;
  }

  .backButton {
    left: 30px;
    top: 20px;
    width: 80%;
  }

  .FBA_filtered_quotes {
    width: 90%;
  }

  .filtered_authorName {
    font-size: 1.8rem;
  }

  .filtered_quote h2 {
    line-height: 3.6rem;
    font-size: 1.5rem;
  }

  .filtered_quote {
    padding: 1rem;
  }

  /* FBA */
}